{% extends 'base.html' %} {% block body %}
<h2>Digital Product Management - Web Form Template</h2>
<hr />
<main>
  <form action="/add" method="POST">
    <p>
      <label for="Title">Title:</label>
      <input type="text" id="Title" name="Title" />
    </p>
    <p>
      <label for="Author">Author:</label>
      <input type="text" id="Author" name="Author" />
    </p>
    <p>
      <label for="Pages">Pages:</label>
      <input type="text" id="Pages" name="Pages" />
    </p>

    <p>
      <label>Classification:</label>
      <label for="read-yes">
        <input
          type="radio"
          id="read-fiction"
          name="read"
          value="fiction"
          required="required"
        />
        fiction
      </label>

      <label for="read-no">
        <input
          type="radio"
          id="read-non-fiction"
          name="read"
          value="non-fiction"
          required="required"
        />
        non-fiction
      </label>
    </p>
    <fieldset>
      <legend>Details:</legend>
      <label for="for-own">
        <input
          type="checkbox"
          id="for-own"
          name="activities"
          value="own"
        />
        I own this book
      </label>

      <label for="for-read">
        <input
          type="checkbox"
          id="for-read"
          name="activities"
          value="read"
        />
        I have read this book
      </label>

      <label for="for-like">
        <input
          type="checkbox"
          id="for-like"
          name="activities"
          value="like"
        />
        I liked this book
      </label>

      <label for="for-recommend">
        <input
          type="checkbox"
          id="for-recommend"
          name="activities"
          value="recommend"
        />
        I would recommend this book
      </label>
    </fieldset>

    <p>
      <label for="acquire">
        How did I get this book:
        <select name="Option" id="Option" required>
          <Option value="" selected>Choose one ...</Option>
          <Option value="purchased">I purchased it</Option>
          <Option value="gift">It was a gift</Option>
          <Option value="lib">I checked it out from the lib</Option>
          <Option value="loaned">A friend loaned it to me</Option>
        </select>
      </label>
    </p>
    

    

    <p><input type="submit" id="submit" value="Submit" /></p>
  </form>

  <br /><br />
  {% if friends %}
  <h3>List of Books</h3>
  <hr />
  <table border="1">
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Pages</th>
        <th>Classification</th>
        <th>Details</th>
        <th>Acquisition</th>
      </tr>
    </thead>

    <tbody>
      {% for friend in friends %}
      <tr>
        <td>{{ friend.Title }}</td>
        <td>{{ friend.Author }}</td>
        <td>{{ friend.Pages}}</td>
        <td>{{ friend.read }}</td>
        <td>{{ friend.activities }}</td>
        <td>{{ friend.Option }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
</main>
{% endblock %}
